# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# backup files
~*
*.swp
*~

# temporary files
aho*
.ipynb_checkpoints/

# data files
*.dat
*.npz
*.out
\#*
output/
