# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.pyc
*/*.pyc

# C extensions
*.so
*/*.so

# backup files
~*
*/~*
*.swp
*/*.swp
*~
*/*~
*#
*/*#
.*
*/.*

# temporary files
aho*
.ipynb_checkpoints/

# data files
*.dat
*/*.dat
*.npz
*/*.npz
*.out
*/*.out
*.log
*/*.log
*.lock
*/*.lock
*.png
*/*.png
*.pdf
*/*.pdf
*.jpg
*/*.jpg
*.jpeg
*/*.jpeg
*.tiff
*/*.tiff
\#*
output/
*/output/
*/*/output/
run_scripts/python/*.json
thermometer/cal_data
