# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.pyc
*/*.pyc

# C extensions
*.so

# backup files
~*
*.swp
*~
*#

# temporary files
aho*
.ipynb_checkpoints/

# data files
*.dat
*.npz
*.out
*.log
*.lock
*.png
*.pdf
*.jpg
*.jpeg
*.tiff
\#*
output/
